# Project exclude paths
/.gradle/
/Bulls and Cows/task/build/
/Bulls and Cows/task/out/
/Bulls and Cows/task/out/production/classes/
/Topics/Errors in programs/What's wrong?/out/
/Topics/Errors in programs/What's wrong?/out/production/classes/
/Topics/Floating-point types/Area of a circle/out/
/Topics/Floating-point types/Area of a circle/out/production/classes/
/Topics/Math library/Pow/out/
/Topics/Math library/Pow/out/production/classes/
/Topics/Random/Find the seed/out/
/Topics/Random/Find the seed/out/production/classes/
/Topics/Random/Gaussian random numbers/out/
/Topics/Random/Gaussian random numbers/out/production/classes/
/Topics/Random/Generate random numbers/out/
/Topics/Random/Generate random numbers/out/production/classes/
/Topics/StringBuilder/Concat all strings without digits/out/
/Topics/StringBuilder/Concat all strings without digits/out/production/classes/